
	<div class="row">
		<div class="large-12 columns post form">
			<fieldset>
				<legend class="form">Post</legend>
				<div class="row">
					<div class="large-12 columns">
						<%= render partial: book_partial, locals: { f: f } %>
						<%= render partial: course_partial, locals: { f: f } %>
					</div>
				</div>
				<div class="row">
					<div class="large-11 large-centered columns">
						<%= f.submit 'Post', class: "submit button" %>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
