
<table>
	<tr>
		<th>Contact</th>
		<% unless user.nil? %>
			<td><%= user.phone ? user.phone : user.email %></td>
		<% end %>	
	</tr>			
	<tr>
		<th>Price</th>
		<td><%= "$#{book.price}" %></td>
	</tr>
	<tr>
		<th>Used</th>
		<td><%= book.used ? "Yes" : "No" %></td>
	</tr>
	<tr>
		<th>Book</th>
		<td><%= book.name %></td>
	</tr>
	<tr>
		<th>Author(s)</th>
		<td><%= book.authors %></td>
	</tr>
	<tr>
		<th>Edition</th>
		<td>
			<% unless book.edition.blank? %>
				<%= book.edition %>
			<% end %> 
		</td>
	</tr>
	<tr>
		<th>Publication</th>
		<td>
			<% unless book.publication.blank? %>
				<%= book.publication %>
			<% end %> 
		</td>
	</tr>
		<th>Course Code</th>
		<td><%= "#{course.department} #{course.course_no}"  %></td>
	</tr>
	<tr>
		<th>Course Name</th>
		<td>
			<% unless course.name.blank? %>
				<%= course.name %>
			<% end %> 
		</td>
	</tr>
	<tr>
		<th>University</th>
		<td><%= course.university%></td>
	</tr>
	<tr>
		<th>Professor</th>
		<td>
			<% unless course.professor.blank? %>
				<%= course.professor %>
			<% end %> 
		</td>
	</tr>
	<tr>
		<th>Term</th>
		<td>
			<% unless course.term.blank? %>
				<%= course.term %>
			<% end %> 
		</td>
	</tr>
	<tr>
		<th>Year</th>
		<td>
			<% unless course.year.blank? %>
				<%= course.year %>
			<% end %> 
		</td>
	</tr>
	<tr>
		<th>Section</th>
		<td>
			<% unless course.section.blank? %>
				<%= course.section %>
			<% end %> 
		</td>
	</tr>
</table>