<table>
	<tr>
		<th>Course</th>
		<th>Book</th>
		<th>Author(s)</th>
		<th>Price</th>
		<th>Used?</th>
		<th>Date Posted</th>
	</tr>
	
	<% listings.each do |listing| %>
		
		<% course = Course.find_by_listing_id(listing.id) %>
		<% book = Book.find_by_listing_id(listing.id) %>
		<% user = User.find_by_id(listing.user_id) %>
		<% if !course.nil? & !book.nil? %>
			<tr>
				<td><%= "#{course.department} #{course.course_no}" %></td>
				<td><%= book.name %></td>
				<td><%= book.authors %></td>
				<td><%= "$#{book.price}" %></td>
				<td><%= book.used ? "Yes" : "No" %></td>
				<td><%= listing.created_at.to_date.to_s %></td>
				<td><%= link_to "Show", { controller: 'listings', :action => "show", :listing_id => listing.id } %></td>
				<td>
					<% unless user.nil? %>
						<% if session[:user_id].to_s.eql? user.id.to_s %>
							<%= link_to "Edit", { controller: 'listings', :action => "edit", :listing_id => listing.id } %>
						<% end %>
					<% end %>
				</td>
			</tr>
		<% end %>
	<% end %>
</table>