
<%= form_for @listing, { :url => {:action => 'update', :listing_id => @listing.id} } do |f| %>
	<%= render partial: 'form', locals: { f: f, book_partial: 'books/edit', course_partial: 'courses/edit' } %>
<% end %>
