<%= render partial: 'delete/confirmation_modal', locals: { controller: controller.controller_name, id_name: 'listing_id',id: @listing_id } %>

<div class="row ">
	<div class="large-12 columns listings show">
		<div class="large-9 large-centered columns">
			<%= render partial: 'listing', locals: { book: @book, course: @course, user: @user } %>
			<% if @of_current_user %>
				<%= link_to "Edit", { controller: 'listings', action: 'edit', listing_id: @listing_id }, class: 'button' %>
				<%= render partial: 'delete/button' %>
			<% end %>
		</div>
	</div>
</div>