<div id="delete-modal" class="reveal-modal" data-reveal aria-labelledby="title" aria-hidden="true" role="dialog">
  <h2 id="title">Delete Listing</h2>
  <p class="lead">Are you sure you want to delete this listing?</p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  <%= link_to 'Delete', { controller: controller, action: 'delete', id_name => id }, class: "button alert delete-yes" %>
</div>
