
<% action = "Submit" %>
<% if template.eql? "new" %>
	<% action = "Create" %>
<% end %>
<% if template.eql? "edit" %>
	<% action = "Update" %>
<% end %>

<% if errors.any? %>
	<ul>
		<% errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>

<div class="large-6 large-centered columns group form">
	<fieldset>
		<legend class="form"><%= action %></legend>
		<div class="row">
			<div class="large-12 columns">
					<%= f.label :name, "Name *" %>
					<%= f.text_field :name, :maxlength => 25, :size => 'default' %>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
					<%= f.label :description, "Description *" %>
					<%= f.text_area :description, :size => 'default' %>
			</div>
		</div>

		<%= f.submit "#{action}", class: "submit button" %>
		<% if template.eql? 'edit' %>
			<%= render partial: 'delete/confirmation_modal', locals: { controller: controller.controller_name, id_name: 'group_id', id: group_id } %>
			<%= render partial: 'delete/button' %>
		<% end %>

	</fieldset>
</div>
