
<div class="group">	
	<div class="large-12 columns search band">
		<div class="row">	
			<div class="small-12 small-centered medium-10 medium-centered large-12 large-centered columns search-bar-message">
				<div class="large-6 small-12 columns">
					<p>Find it hard to study all by yourself?</p>
					<p>Join a study group to help or be helped. Just search up a group name or the course you need it for.</p>
				</div>
				<div class="large-6 small-12 columns search-bar">
					<%= form_tag  do %><%# controller: 'groups', action: 'search' %>
						<div class="row collapse">
							<div class="large-9 small-8 columns">
								<%= text_field_tag :keyword, nil, maxlength: 50, placeholder: 'Search for a group or a course'%>
							</div>
							<div class="large-3 small-4 columns">
								<%= submit_tag 'Search', class: "button postfix round" %>
							</div>	
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<div class="large-12 columns band">
		<div class="row">
			<div class="large-6 large-uncentered medium-10 medium-centered small-12 small-centered columns post">
				<p>Or create and set up a study group of your own!</p>
				<p>Invite your friends and get work done faster.</p>
				<%= link_to "Set up", { controller: 'groups', action: 'new' }, class: 'button' %>
				<%# link_to "Set up", { }, class: 'button' %>
			</div>
			<div class="large-6 large-uncentered medium-10 medium-centered small-12 small-centered columns latest">
				<p>Have a peek at the latest groups available around you!</p>
				<%# link_to "Latest", { controller: 'groups', action: 'index' }, class: 'button' %>
				<%= link_to "Latest", { }, class: 'button' %>
			</div>
		</div>
	</div>
</div>