<div class="large-12 columns group show">
	<div class="row">
		<div class="large-3 large-push-9 medium-3 medium-push-9 small-12 columns info">
			<p><%= @group.description %></p>
			<hr />
			<ul>Members:
				<% @members.each do |m| %>
					<li><%= "#{m.first_name} #{m.last_name}" %></li>
				<% end %>
			</ul>
		</div>
		<div class="large-9 large-pull-3 medium-9 medium-pull-3 small-12 columns content">
			<h2><%= @group.name %></h2>
			<hr />
		</div>
	</div>
</div>
