
<% action = "Submit" %>
<% if template.eql? "new" %>
	<% action = "Create Profile" %>
<% end %>
<% if template.eql? "edit" %>
	<% action = "Update Profile" %>
<% end %>

<% if errors.any? %>
	<ul>
		<% errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>

<div class="large-6 large-centered columns user form">
	<fieldset>
		<legend class="form"><%= action %></legend>
		<div class="row">
			<div class="large-6 columns">
					<%= f.label :first_name, "First Name *" %>
					<%= f.text_field :first_name, :maxlength => 25, :size => 'default' %>
			</div>
			<div class="large-6 columns">
					<%= f.label :last_name, "Last Name *" %>
					<%= f.text_field :last_name, :maxlength => 50, :size => 'default' %>
			</div>
		</div>
		<div class="row">
			<div class="large-8 columns">
					<%= f.label :email, "Email *" %>
					<%= f.text_field :email, :maxlength => 100, :size => 'default' %>
			</div>
			<div class="large-4 columns">
					<%= f.label :phone %>
					<%= f.number_field :phone, min: 0, max: 999999999999, :size => 'default' %>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
					<%= f.label :password, "Password *" %>
					<%= f.password_field :password %>
			</div>
		</div>
		<div class="row">
			<div class="large-6 columns">
					<%= f.label :university, "University *" %>
					<%= f.text_field :university, :maxlength => 50, :size => 'default' %>
			</div>
			<div class="large-6 columns">
					<%= f.label :program %>
					<%= f.text_field :program, :maxlength => 100, :size => 'default' %>
			</div>
		</div>

		<%= f.submit "#{action}", class: "submit button" %>
		<% if template.eql? 'edit' %>
			<%= render partial: 'delete/confirmation_modal', locals: { controller: controller.controller_name, id_name: 'user_id', id: user_id } %>
			<%= render partial: 'delete/button' %>
		<% end %>

	</fieldset>
</div>
