
<%= form_for :user, :url => { :action => 'udpate', :user_id => @user.id } do |f| %>

	<%= render :partial => "form", :locals => { :f => f, template: 'edit', errors: @user.errors, user_id: @user.id } %>

<% end %>