
<h1>Users</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Univeristy</th>
	</tr>

	<% @users.each do |user| %>
		<tr>
			<td><%= "#{user.first_name} #{user.last_name}" %></td>
			<td><%= user.email %></td>
			<td><%= user.university %></td>
		<tr/>
	<% end %>
</table>

	