

<div class="large-12 columns user profile">
	<div class="large-8 large-centered columns">
		<h3>Profile</h3>

			<table>
				<tr>
					<td>Name</td>
					<td><%= "#{@user.first_name} #{@user.last_name}" %></td>
				</tr>
				<tr>
					<td>Email</td>
					<td><%= "#{@user.email}" %></td>
				</tr>
				<tr>
					<td>University</td>
					<td>
						<% if !@user.university.nil? %>
							<%= "#{@user.university}" %>
						<% end %>
					</td>
				</tr>
				<tr>
					<td>Program</td>
					<td>
						<% if !@user.program.nil? %>
							<%= "#{@user.program}" %>
						<% end %>
					</td>
				</tr>
				<tr>
					<td>Phone</td>
					<td>
						<% if !@user.phone.nil? %>
							<%= "#{@user.phone}" %>
						<% end %>
					</td>
				</tr>
			</table>

		<h3>Listings</h3>
			<%= render partial: 'listings/listings', locals: { listings: @user.listings } %>
	</div>
</div>