

<%= form_tag :action => 'attempt_login' do %>
	
		<div class="large-4 large-centered columns login form">
			<fieldset>
				<legend class="form">Login</legend>
				<div class="row">
					<div class="large-3 columns">
						<%= label_tag :email %>
					</div>
					<div class="large-9 columns">
						<%= text_field_tag :email, nil, :maxlength => 100, :size => 'default' %>
					</div>
				</div>
				<div class="row">
					<div class="large-3 columns">
						<%= label_tag :password %>
					</div>
					<div class="large-9 columns">
						<%= password_field_tag :password %>
					</div>
				</div>
				<div class="row">
					<div class="large-11 columns">
						<%= submit_tag "Login", class: "submit button" %>
					</div>
				</div>
		</fieldset>
	</div>
<% end %>
