<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Azyoom</title>

    
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>
<body>
<header>
	<div>
		<nav class="top-bar">
			<section class="top-bar-section">
				<ul>
					<!-- <div class="nav navbar-brand">
						<li><%= link_to('Azyoom', {:controller => 'pages', :action => 'index'}) %></li>
					</div> -->
					<div class="left">
						<li><%= link_to('Home', {:controller => 'pages', :action => 'index'}) %></li>
						<li><%= link_to('About', {:controller => 'pages', :action => 'about'}) %></li>
						<li><%= link_to('Latest', {:controller => 'pages', :action => 'latest'}) %></li>
					</div>
					<div class="right">
						<% unless session[:user_id].nil? & session[:name].blank? %>
							<li><%= link_to session[:name], :controller => 'users', :action => 'show', :user_id => session[:user_id] %></li>
							<li><%= link_to 'Log Out', :controller => 'access', :action => 'logout' %></li>
						<% else %>
							<li><%= link_to('Log In', {:controller => 'access', :action => 'login'}) %></li>
							<li><%= link_to('Register', {:controller => 'users', :action => 'new'}) %></li>	
						<% end %>
					</div>
				</ul>
			</section>
		</nav>
	</div>
</header>

<div>
	<% if !flash[:notice].blank? %>
		<%= flash[:notice] %>
	<% end %>

	<% if !flash[:error].blank? %>
		<%= flash[:error] %>
	<% end %>
</div>


	<%= yield %>


</body>
</html>