
<div class="large-12 columns page about">
	<div class="large-9 large-centered columns">
			<h1>About</h1>
			<p>Azyoom is a virtual market created for students to have a platform to list, advertise and sell books... and may be some other things as well.</p>
	</div>
</div>