
<div class="listing">
	<div class="large-12 columns search band">
		<div class="row">	
			<div class="small-12 small-centered medium-10 medium-centered large-12 large-centered columns search-bar-message">
				<div class="large-6 small-12 columns">
					<p>New books too expensive?</p>
					<p> Try to find a cheaper used one. Just search up the book name or the course you need it for.</p>
				</div>
				<div class="large-6 small-12 columns search-bar">
					<%= form_tag controller: 'listings', action: 'search' do %>
						<div class="row collapse">
							<div class="large-9 small-8 columns">
								<%= text_field_tag :keyword, nil, maxlength: 50, placeholder: 'Search for a book or a course'%>
							</div>
							<div class="large-3 small-4 columns">
								<%= submit_tag 'Search', class: "button postfix round" %>
							</div>	
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<div class="large-12 columns band">
		<div class="row">
			<div class="large-6 large-uncentered medium-10 medium-centered small-12 small-centered columns post">
				<p>Have used books you're never gonna need again?</p>
				<p>Post book + course details and wait for replies from someone who could use them.</p>
				<%= link_to "Post", { controller: 'listings', action: 'new' }, class: 'button' %>
			</div>
			<div class="large-6 large-uncentered medium-10 medium-centered small-12 small-centered columns latest">
				<p>Have a peek at the latest books available around you!</p>
				<%= link_to "Latest", { controller: 'listings', action: 'index' }, class: 'button' %>
			</div>
		</div>
	</div>
</div>