		
<div class="large-12 columns book form">
	<fieldset>
		<legend>Book</legend>
		<% if errors.any? %>
			<ul>
				<% errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		<% end %>

		<div class="row">
			<div class="large-9 columns">
				<%= f.label :name, "Name *" %>
				<%= f.text_field :name, maxlength: 100, size: 'default' %>
      </div>
      <div class="large-3 columns">
				<%= f.label :price, "Price *" %>
				<%= f.number_field :price, min: 0, max: 9999.99, step: 'any' %>
			</div>  	
		</div>
		<div class="row">
			<div class="large-12 columns">	
				<%= f.label :authors, "Author(s) *" %>
				<%= f.text_field :authors, maxlength: 150, size: 'default' %>
			</div>
    </div>
    <div class="row">
    	<div class="large-7 columns">
				<%= f.label :publication %>
				<%= f.text_field :publication, maxlength: 100, size: 'default' %>
			</div>
    	<div class="large-3 columns">
				<%= f.label :edition %>
				<%= f.number_field :edition, min: 1 %>
			</div>
			
			<div class="large-1 large-offset-1 columns">
				<div class="">
					<%= f.label :used %>
					<%= f.check_box :used %>
				</div>
			</div>
	  </div>
	</fieldset>
</div>