<h1>Create Book</h1>

<%= form_for @book, url: {action: 'create', listing_id: @book.listing_id} do |f| %>
	
	<%= render partial: 'form', locals: { f: f, errors: @book.errors } %>

	<%= f.submit "Create Book" %>

<% end %>
