<div class="large-12 columns course form">
	<fieldset>
		<legend>Course</legend>
		<% if errors.any? %>
			<div class="error">	
				<ul>
					<% errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<div class="row">
			<div class="large-12 columns">
				<%= f.label :university, "University *" %>
				<%= f.text_field :university, maxlength: 50, size: 'default', value: session[:user_id].nil? ? nil : User.find_by_id(session[:user_id]).university %>
			</div>
		</div>
		<div class="row">
			<div class="large-6 columns">
				<%= f.label :department, "Department *" %>
				<%= f.text_field :department, maxlength: 4, size: 'default' %>
			</div>
			<div class="large-6 columns">
				<%= f.label :course_no, "Course No *" %>
				<%= f.number_field :course_no, max: 9999, size: 'default' %>
			</div>
		</div>
		<div class="row">
			<div class="large-6 columns">
				<%= f.label :name, "Course Name" %>
				<%= f.text_field :name, maxlength: 100, size: 'default' %>
			</div>
			<div class="large-6 columns">
				<%= f.label :professor %>
				<%= f.text_field :professor, maxlength: 50, size: 'default' %>
			</div>
		</div>
		<div class="row">
			<div class="large-3 columns">
				<%= f.label :year %>
				<%= f.select :year, (Time.now.year - 20)..(Time.now.year + 1), include_blank: true %>
			</div>
			<div class="large-2 columns">
				<%= f.label :section %>
				<%= f.text_field :section, maxlength: 2, size: 'default' %>
			</div>
			<div class="large-6 large-offset-1 columns" id="term-radio-buttons">
				<%= f.label :term %>

						<%= f.radio_button :term, value: "FAL" %>
						<%= f.label :term, "Fall" %>

						<%= f.radio_button :term, value: "WIN" %>
						<%= f.label :term, "Winter" %>
						
						<%= f.radio_button :term, value: "SUM" %>
						<%= f.label :term, "Summer" %>

			</div>
		</div>
	</fieldset>
</div>