<h1>Create course</h1>
<%= form_for :course, url: {action: 'create', listing_id: @course.listing_id} do |f| %>
	
	<%= render partial: 'form', locals: { f: f } %>

	<%= f.submit "Create course" %>

<% end %>
