@import url(https://fonts.googleapis.com/css?family=Josefin+Sans|Montserrat);

$font-family-josefin-sans: 'Josefin Sans', sans-serif;
$font-family-montserrat: 'Montserrat', sans-serif;

$white 			 : #FFFFFF;
$white-smoke : #F5F5F5;
$iron				 : #CCCCCC;
$oil         : #333333;
$orange 		 : #FF9009;
$blue				 : #008CBA;
$green			 : #43AC6A;
$red				 : #F04124;
$silver      : #EFEFEF;
$purple			 : #7851A9; // royal purple

$body-font-family: $font-family-montserrat;

$topbar-bg-color: white;
$topbar-bg: $topbar-bg-color;

$topbar-link-color: $oil;
$topbar-link-color-hover: $oil;

$topbar-link-bg-hover: $white-smoke;
$topbar-link-font-family: $font-family-montserrat;
$topbar-dropdown-link-color: $oil;
$topbar-dropdown-label-color: $oil;


$table-bg: $white;
$table-even-row-bg: $iron;

table {
	width: 100%;
}

// TOP BAR

$topbar-menu-icon-color: $oil;

.top-bar {
    background: $topbar-bg;
}

.top-bar-section li a:not(.button) {
    background: $topbar-bg !important;   
}

.top-bar-section li a:not(.button):hover {
    background: $topbar-link-bg-hover !important;   
}

.top-bar-section ul li.active > a {
    background: $topbar-link-bg-hover !important;  
}

.top-bar-section ul li.active > a:hover {
    background: $topbar-link-bg-hover !important;   
}

.top-bar-section .has-dropdown > a:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: inset 5px;
      border-color: red;
      border-left-style: solid;
      margin-right: 15px;
      margin-top: -4.5px;
      position: absolute;
      top: 50%;
      right: 0; 
}

.top-bar .toggle-topbar.menu-icon a:after {
    content: "";
    display: block;
    height: 0;
    position: relative;
    right: 25px;
    top: 25px;
}
.top-bar .toggle-topbar.menu-icon a {
    color: white;
    height: 20px;
    line-height: 20px;
    position: relative;
}

// ALERT BOX

$alert-bottom-margin: 0px;

$fieldset-border-color: $green;
$fieldset-border-width: 2px;

.alert-box {
	text-align: center;
}

.block {
	padding-top: 40px;
	padding-bottom: 40px;

	p {
		font-family: $font-family-montserrat;
		font-size: 35px; 
		line-height: 100%;
	}

	@media screen and (max-width: 480px) {

    p {
       font-size: 25px;
    }
  }
}

@mixin -block($background-color, $text-color, $text-align) {
	
	background-color: $background-color;

	p {
		color: $text-color;
		text-align: $text-align;
	}
}

@mixin -search-block {

	.search-bar-message {
		padding-top: 25px;
		padding-bottom: 25px;
	}

	.search-bar {
		text-align: left;
		padding-top: 100px;
	}

	@media screen {

		@media (max-width: 480px) {
			.button {
				padding-left: 10px;
			}
		}

		@media (max-width: 1024px) {
	    .search-bar {
	    	padding-top: 10px;
	    	padding-bottom: 0px;
	    }
	  }
	}
}

.book-search-block {
	
	@include -block($orange, $white, right);
	@include -search-block;

}

.group-search-block {
	
	@include -block($purple, $white, right);
	@include -search-block;
}

@mixin -info-block($button-float) {

	.button {
		float: $button-float;
	}
	
	@media screen and (max-width: 1024px) {
		
		p {
			text-align: left;
		}

		.button {
			float: none;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.book-post-block {

	@include -block($white, $orange, right);
	@include -info-block(right);

	@media screen and (max-width: 1024px) {

		padding-bottom: 20px;
	}
}

.group-post-block {

	@include -block($white, $purple, right);
	@include -info-block(right);

	@media screen and (max-width: 1024px) {

		padding-bottom: 20px;
	}
}

.book-latest-block {
	
	@include -block($white, $orange, left);
	@include -info-block(left);

	@media screen and (max-width: 1024px) {

		padding-top: 20px;		
	}
}

.group-latest-block {
	
	@include -block($white, $purple, left);
	@include -info-block(left);

	@media screen and (max-width: 1024px) {

		padding-top: 20px;		
	}
}

.page.about {
	background-color: $blue;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;

	h1 {
		color: white;
	}
}

.user.profile {
	background-color: $green;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;

	h1, h2, h3 {
		color: white;
	}
}

legend.form {
	font-size: 150%;
}

.listings {
	margin-top: 50px;

}

.listings.show, .user.profile {

		table {
			width: 100%;
			margin: 0;
			padding-bottom: 10px;
		}
	
}

.submit.button {
	float: right;
}

.user.delete.button {
	float: right;
}

.copyright {
	text-align: right;
}

.course.form {
	fieldset {
		border-color: $white-smoke;
	}
}

.book.form {
	fieldset {
		border-color: $white-smoke;
	}
}

@import 'foundation';

* {
	margin: 0;
	padding: 0;
}

html, body, #wrapper {
	height: 100%;
}

body > #wrapper {
	height: auto;
	min-height: 100%;
}

#main {
	padding-bottom: 75px; /* Must be same as footer height. */
}

#footer {
	position: relative;
	margin-top: -75px; /* Must be negative of footer height. */
	height: 20px;
	clear: both;
}