@import 'foundation_overrides';

.page.about {
	background-color: $blue;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;

	h1 {
		color: white;
	}
}

legend.form {
	font-size: 150%;
}

.listings {
	margin-top: 50px;

}

.submit.button {
	float: right;
}

.copyright {
	text-align: right;
}

.course.form, .book.form {
	fieldset {
		border-color: $white-smoke;
	}
}

* {
	margin: 0;
	padding: 0;
}

html, body, #wrapper {
	height: 100%;
}

body > #wrapper {
	height: auto;
	min-height: 100%;
}

#main {
	padding-bottom: 75px; /* Must be same as footer height. */
}

#footer {
	position: relative;
	margin-top: -75px; /* Must be negative of footer height. */
	height: 20px;
	clear: both;
}