// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'home_page_bands';

.group {

	.search.band {
		
		@include -band($purple, $white, right);
		@include -search-band;
	}

	.band {

		.post {

			@include -band($white, $purple, right);
			@include -info-band(right);

			@media screen and (max-width: 1024px) {

				padding-bottom: 20px;
			}
		}

		.latest {
		
			@include -band($white, $purple, left);
			@include -info-band(left);

			@media screen and (max-width: 1024px) {

				padding-top: 20px;		
			}
		}
	}

	.show {
	
		* {
			color: $white;
		}

		.info {
			
			@include group-show-band($vine-green);

			ul {
				list-style: none;
			}
		}

		.content {
			
			@include group-show-band($purple);
		}
	}

	.form {
		textarea {
			resize: vertical;
			height: 150px;
			max-height: 500px;
		}
	}
}
