// HOME PAGE BANDS

@import 'foundation_overrides';

.band {
	padding-top: 40px;
	padding-bottom: 40px;

	p {
		font-family: $font-family-montserrat;
		font-size: 35px; 
		line-height: 100%;
	}

	@media screen and (max-width: 480px) {

    p {
       font-size: 25px;
    }
  }
}

@mixin -band($background-color, $text-color, $text-align) {
	
	background-color: $background-color;

	p {
		color: $text-color;
		text-align: $text-align;
	}
}

@mixin -search-band {

	.search-bar-message {
		padding-top: 25px;
		padding-bottom: 25px;
	}

	.search-bar {
		text-align: left;
		padding-top: 100px;
	}

	@media screen {

		@media (max-width: 480px) {
			.button {
				padding-left: 10px;
			}
		}

		@media (max-width: 1024px) {
	    .search-bar {
	    	padding-top: 10px;
	    	padding-bottom: 0px;
	    }
	  }
	}
}


@mixin -info-band($button-float) {

	.button {
		float: $button-float;
	}
	
	@media screen and (max-width: 1024px) {
		
		p {
			text-align: left;
		}

		.button {
			float: none;
			margin-left: auto;
			margin-right: auto;
		}
	}
}



@mixin group-show-band($color) {
	background-color: $color;
		padding: 25px 25px;
		border: 2.5px solid $white;
}
