// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'home_page_bands';

.listing {
	.search.band {
		
		@include -band($orange, $white, right);
		@include -search-band;

	}

	.post {

		@include -band($white, $orange, right);
		@include -info-band(right);

		@media screen and (max-width: 1024px) {

			padding-bottom: 20px;
		}
	}

	.latest {
		
		@include -band($white, $orange, left);
		@include -info-band(left);

		@media screen and (max-width: 1024px) {

			padding-top: 20px;		
		}
	}
}

.listings.show {

		table {
			width: 100%;
			margin: 0;
			padding-bottom: 10px;
		}
	
}