/* Quicksand|Julius+Sans+One|Poiret+One|Pacifico|Cinzel+Decorative);

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans|Pacifico);

$purple: #9068BE;
$aqua-marine: #6ED3CF;
$red: #E62739;
$light-gray: #E1E8F0;

$blue: #89BDD3;
$lightblue: #9AD3DE;
$gray: #C9C9C9;
$lightgray: #E3E3E3;

$black: #1B1B1B; /* Eerie Black 

body {
	
}

.navbar-brand li {
		font-family: 'Josefin Sans', sans-serif;
		font-size: 30px;
		font-weight: normal;
		padding-top: 0px;

		$logo-color: $red;

		a {
			color: $logo-color;
		}

		a:hover {
			color: $logo-color;
			background-color: $purple;
		}
}

nav {
	font-family: 'Josefin Sans', 'Quicksand', sans-serif;
	font-weight: bold;
}

.navbar {
	background-color: white;
	color: $black;
	border-radius: 0px;
}

.navbar-nav li {
	margin: 0px 5px 10px 5px;
	padding-left: 10px;
	padding-right: 10px;

	a {
		color: $black;
	}
	
	a:hover {
			background-color: white;
			color: $gray;
	}
}

.jumbotron {
	background-color: $gray;
	background-image: image-url("old-books.jpg");
	background-repeat: no-repeat;
	background-size: 100%;

	h1, p, li {
		font-family: 'Josefin Sans', sans-serif;
		color: $light-gray;
	}
}

.search-bar {
	margin-top: 25%;
}

*/