@import 'foundation_overrides';

.top-bar {
    background: $topbar-bg;
}

.top-bar-section li a:not(.button) {
    background: $topbar-bg !important;   
}

.top-bar-section li a:not(.button):hover {
    background: $topbar-link-bg-hover !important;   
}

.top-bar-section ul li.active > a {
    background: $topbar-link-bg-hover !important;  
}

.top-bar-section ul li.active > a:hover {
    background: $topbar-link-bg-hover !important;   
}

.top-bar-section .has-dropdown > a:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: inset 5px;
      border-color: red;
      border-left-style: solid;
      margin-right: 15px;
      margin-top: -4.5px;
      position: absolute;
      top: 50%;
      right: 0; 
}

.top-bar .toggle-topbar.menu-icon a:after {
    content: "";
    display: block;
    height: 0;
    position: relative;
    right: 25px;
    top: 25px;
}
.top-bar .toggle-topbar.menu-icon a {
    color: white;
    height: 20px;
    line-height: 20px;
    position: relative;
}