// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'foundation_overrides';

.user.profile {
	background-color: $green;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;

	h1, h2, h3 {
		color: white;
	}
}

.user.delete.button {
	float: right;
}

.user.profile {

		table {
			width: 100%;
			margin: 0;
			padding-bottom: 10px;
		}
	
}