<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Azyoom" %></title>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="wrapper">
      <div id="main" class="clearfix">
        <header>
          <div class="row">
            
            <div class="large-12 large-centered small-12 small-centered columns">
              <nav class="top-bar" data-topbar role="navigation">

                <ul class="title-area">
                  <li class="name"><a href="#"></a></li>
                  <li class="toggle-topbar menu-icon"><a href=""><span></span></a></li>
                </ul>

                <section class="top-bar-section">

                    <ul class="left">
                      <li><%= link_to('Search', {:controller => 'pages', :action => 'search'}) %></li>
                      <li><%= link_to('Post', {:controller => 'pages', :action => 'post'}) %></li>
                      <li><%= link_to('Latest', {:controller => 'pages', :action => 'latest'}) %></li>
                      <li><%= link_to 'Groups', {controller: 'pages', action: 'groups'} %></li>
                      <li><%= link_to('About', {:controller => 'pages', :action => 'about'}) %></li>
                      
                    </ul>
                    <ul class="right">
                      
                      <% unless session[:user_id].nil? & session[:name].blank? %>
                        <li class="has-dropdown">
                          <%= link_to session[:name], :controller => 'users', :action => 'show', :user_id => session[:user_id] %>
                          <ul class="dropdown">
                            <li><%= link_to "Edit Profile", { :controller => 'users', :action => 'edit', :user_id => session[:user_id] } %></li>
                          </ul>
                        </li>
                        <li><%= link_to 'Log Out', :controller => 'pages', :action => 'logout' %></li>
                      <% else %>
                        <li><%= link_to('Log In', {:controller => 'pages', :action => 'login'}) %></li>
                        <li><%= link_to('Register', {:controller => 'pages', :action => 'register'}) %></li> 
                      <% end %>
                    </ul>
                  
                </section>
              </nav>
              
            </div>
          </div>
        </header>

        <div>
            <% if !flash[:notice].blank? %>
              <div data-alert class="alert-box success"> 
                <%= flash[:notice] %>
              </div>
            <% end %>
           
            <% if !flash[:error].blank? %>
              <div data-alert class="alert-box alert">
                <%= flash[:error] %>
              </div>
            <% end %>
        </div>
        
        <%= yield %>

      </div>
    </div>

    <div id="footer">
      <footer class="large-10 large-centered columns">
        <hr/>
        <div class="large-6 columns">

        </div>
        <div class="large-6 columns copyright">
          <p>&#169 2015 Himanish Kaushal</p>
        </div>
      </footer>
    </div>
    
  </body>
</html>